
{% extends 'base.html.twig' %}


{% block body %}
<h1> bienvenue bro</h1>



<p>Есть много вариантов Lorem Ipsum, но
    большинство из них имеет не всегда приемлемые модификации,
    например, юмористические вставки или слова, которые даже
    отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
    для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,
    скрытой в середине абзаца. Также все другие известные генераторы Lorem
    Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут ну
    жный объём. Это делает предлагаемый здесь генератор единственным насто
    ящим Lorem Ipsum генератором. Он использует словарь из более ч
    ем 200 латинских слов, а также набор моделей предложений. В резуль
    тате сгенерированный Lorem Ipsum выглядит правдо
    подобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
{% endblock %}